<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel = "shortcut icon"  href={{ url_for("static", filename="tab_icon_plane.jpg") }}>
    <link rel = "stylesheet" href={{ url_for("static", filename="navigationbar_style.css") }}>
    <title>{% block name %}{% endblock %}'s Home</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {% block style_js %}
    {% endblock %}
    <style>
        .footer{
            padding-top: 40px;
            position: relative;
            background-color: #03738a;
            width: 100%;
            height: 101px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .footer p{
            text-align: center;
            color: white;
        }
    </style>
</head>
<body>
    <div class="background">
        <a href="{% block href_home %}{% endblock %}">
            <img class="home_image" src="{{url_for("static", filename="icon.png")}}" alt="Failed to load image" >
        </a>
        <div class="profiletext">
            <ul>
                <li>
                    <a onclick="javascript:alert('Logged out successfully!')"  href = "{{url_for("logout")}}" {##}>logout</a>
                </li>
                <li>
                    <p>{% block profile_button %}{% endblock %}</p>
                </li>
            </ul>
        </div>
    </div>
    {% block content %}{% endblock %}
    <div class="footer">
        <p>Databases Project, Douaa Zouhir</p>
    </div>
</body>
</html>